html, body {
    height: 100%;
    margin: 0;
}

body {

    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header, section, footer {
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'EB Garamond', sans-serif;
}

#stickyNav {
    position: fixed;
    top: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #5a5a5a;
    z-index: 1000;
}
#menu-toggle {
    display: block;
    font-size: 24px;
    background: none;
    color: #f2f2f2;
    cursor: pointer;
    padding: 0 20px;
    border: none;
    margin-right: auto;
}
nav {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5px;
}

nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    text-align: center;
    background-color: #5a5a5a;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
}

nav ul li {
    display: block;
    margin: 0;
    padding: 10px 20px;
}

nav ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #f2f2f2;
}


.menu-open {
    display: flex;
}

.menu-closed {
    display: none;
}


header {
    position: relative;
    height: 300px; 
    background-image: url('assets/colorful.jpg'); 
    background-size: cover;
    background-position: center;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;

}

#headerContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: auto;
    padding: 20px;
    background-color: rgba(133, 94, 66, 0.8);
    color: #f2f2f2;
    text-align: center;
}

#headerContent h1 {
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 2.5rem;
    font-weight: 800;
}
#headerContent h2 {
    margin-top: 2px;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
}


h2 {
    color: #f2f2f2;
}


#about {
    background-size: cover;
    background-position: center;
    background-color: rgba(192, 192, 192, 0.5);
    color: #333;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 

}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px 20px 15px 20px;
    max-width: 600px;
    color: #333;
    margin: auto;
    align-items: flex-start;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.content h2 {
    color: #333;
}

.aboutArticle {
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 0;
}

.aboutInfo {
    margin-bottom: 10px;

}

.gallery-container {
    position: relative;
    max-width: 100%;
    height: 200px;
    margin: auto;
    overflow: hidden;
}
.gallery-slide {
    display: none;
    width: 100%;
    height: 100%;
}
.gallery-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
/* animering */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1;}
}

.about-sidebar {
    display: flex;
    flex-direction: column;
    background-color: #5a5a5a;
    color: #f2f2f2;
    padding: 15px 15px 15px 25px;
    height: 100%;
    margin: auto;
}

.about-sidebar h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.sidebarList {
    list-style-type: none;
    padding: 0;
}
.sidebarList > li {
    margin-bottom: 10px;
}

ul.sidebarList li.month:before {
    content: "\2605";
    color: goldenrod;
    font-weight: 900;
    margin-right: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 200, 0.5);
}

#projects {
    background-color: #8c7a6b;
    color: #333;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center; /* Centrera kort horisontellt */
    gap: 20px; /* Lägg till mellanrum mellan kort */
}

.project-item {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box; 
}
.project-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.project-item p {
    margin: 0;
}
.project-image {
    max-width: 250px;
    margin: 0 auto;
    align-content: center;
    position: relative;
}
.project-figure {
    align-self: center;
    margin: 0;
}
.project-item img {
    max-width: 100%;
    height: auto;
}
.image-caption {
    position: absolute;
    bottom: 7px;
    left: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3px;
    font-style: italic;
    font-size: small;
}

.project-item button {
    background-color: #8B0000;
    color: #f2f2f2;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;

}
.project-item button:hover {
    background-color: #f2f2f2;
    color: #8B0000;
    border: 1px solid #8B0000;

}

.project-content {
    flex-grow: 1;
}

#contact {
    background-color: rgba(192, 192, 192, 0.5);
    color: #333;
}

#contact h2 {
    color: #333;
}
#closed {
        color: darkred;
}



footer {
    text-align: center;
    background-color: #5a5a5a;
    color: #fff;
    padding: 10px 0;
}

/* Media query för desktop (skärmbredd över 768px) */
@media only screen and (min-width: 768px) {
    /* Anpassad layout för desktop */
    #menu-toggle {
        display: none;
    }

    #stickyNav {
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: static;
        background-color: transparent;
        width: 100vw;
    }

    nav ul li {
        display: inline;
        padding: 0;
        margin-right: 20px;
    }

    nav ul li a {
        width: auto;
    }

    nav a:hover {
        font-weight: 900;
    }
    
    nav ul li:not(:last-child) a::after {
        content: "|";
        margin-left: 20px;
        margin-right: 0;
        align-self: center;
    }
    #about {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

    }

    .content {
        max-width: calc(70% - 20px);
        height: auto;
        align-items: flex-start;

    }

    .about-sidebar {
        flex: 0 0 30%;
        height: auto;

    }
    .gallery-container {
        height: 300px;
        max-width: 600px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .project-item {
        flex-direction: row;
        align-items: flex-start;
    }

    .project-image {
        max-width: 250px;
        margin-left: 5px;
    }

    .project-content {
        flex-grow: 1;
        margin-left: 20px;
    }

    #contactInfo {
        display: flex;
        flex-direction: row;
        column-gap: 25px;
        justify-content:stretch;
    }    

    }
    

/* Återgå till ursprunglig layout för mobil (mindre än 768px) */
@media only screen and (max-width: 767px) {
    #about {
        flex-direction: column; /* Återgå till kolumnlayout för mobil */
    }

    .content {
        max-width: 100%; /* Återgå till full bredd för innehåll */
        margin-right: 0; /* Återställ marginal för mobilvy */
    }

    .about-sidebar {
        flex: 0 0 100%; /* Använd hela bredden för sidebaren i mobilvy */
        height: auto;
    }
}

